.category-header {
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
  align-items: baseline;
  margin: 0;
  /* padding-left: 1rem;  */
  font-size: 1.5rem;
  line-height: 2rem;
}

.category-header h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  color: #fff;
  margin: 0;
  margin-bottom: 1rem;
}

.view-all-btn {
  font-size: 0.875rem;
  font-weight: 600;
  color: rgb(102, 190, 158);
  background: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
  padding-bottom: 3px;
  white-space: nowrap;
  line-height: 1.25rem;
}