.navbar-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 40;
  height: 64px;
  background-color: #111;
  border-bottom: 1px solid #373636;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  overflow: visible;
}

.navbar-logo {
  color: #0ff;
  font-weight: bold;
  font-size: 1.2rem;
}

.navbar-links {
  display: flex;
  gap: 1rem;
  flex-wrap: nowrap;
  align-items: center;
  font-size: 0.9rem;
}
